* {
  font-family: "Hind", sans-serif;
}

html,
body {
  width: 100%;
  height: 1700px;
}

header .container {
  margin: 0 auto;
}

header .container .top {
  margin: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .top .logo a {
  position: absolute;
  left: 45%;
}

header .container .top .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .top .right-header .icon {
  margin: 0 10px;
}

header .container .top .right-header .icon:last-child {
  margin-right: 0;
}

header .container .top .right-header .icon i {
  color: #777777;
  font-weight: 300;
  font-size: 16px;
}

header .container .bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .bottom ul li {
  margin: 10px;
}

header .container .bottom ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #777777;
}

header .container .bottom ul li a.active {
  color: #2879fe;
}

.women-sale {
  width: 100%;
}

.women-sale .container {
  margin: 0 auto;
}

.women-sale .container .background {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://cdn.shopify.com/s/files/1/0031/6604/4224/files/demo18_01_2048x.png?v=1542736595");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 24px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.women-sale .container .background .women-sale-description {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  text-align: center;
}

.women-sale .container .background .women-sale-description h3 {
  color: #2879fe;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.women-sale .container .background .women-sale-description p {
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 60px;
}

.women-sale .container .background .women-sale-description .button {
  margin: 20px 40px 0;
  width: 150px;
  height: 50px;
  background: rgba(34, 105, 219, 0.904);
  border-radius: 8px;
}

.women-sale .container .background .women-sale-description .button a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  padding-top: 15px;
  text-align: center;
}

.women-sale .container .background .women-sale-description .button:hover {
  background: #2879fe;
}

.women-product .women-product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.women-product .women-product-title h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.women-product .women-product-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.women-product .women-product-title ul li {
  margin: 0 20px;
}

.women-product .women-product-title ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #777777;
}

.women-product .women-product-title ul li a.active {
  color: black;
}

.women-product .women-product-title ul li a:hover {
  color: black;
}

.women-product .women-product-title .button-women-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.women-product .women-product-title .button-women-sale .button-left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.women-product .women-product-title .button-women-sale .button-left::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.women-product .women-product-title .button-women-sale .button-left:hover {
  background: #2879fe;
}

.women-product .women-product-title .button-women-sale .button-left:hover::before {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.women-product .women-product-title .button-women-sale .button-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.women-product .women-product-title .button-women-sale .button-right::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.women-product .women-product-title .button-women-sale .button-right:hover {
  background: #2879fe;
}

.women-product .women-product-title .button-women-sale .button-right:hover::after {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.women-product .list-product {
  margin: 70px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.women-product .list-product .product .image-box {
  position: relative;
}

.women-product .list-product .product .image-box a .img {
  width: 100%;
}

.women-product .list-product .product .image-box .list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.women-product .list-product .product .image-box .list-button a {
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}

.women-product .list-product .product .image-box .list-button a::before {
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.623);
  position: absolute;
  top: 0%;
  left: -10%;
  margin-bottom: 10px;
}

.women-product .list-product .product .image-box .list-button a i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.follow-ig .container .title {
  padding: 50px;
  position: relative;
}

.follow-ig .container .title .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.follow-ig .container .title .wrapper h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
}

.follow-ig .container .title .wrapper h2 a {
  color: #2879fe;
  text-decoration: underline;
}

.follow-ig .container .title .wrapper h2 a:hover {
  text-decoration: none;
}

.follow-ig .container .title .wrapper p {
  text-transform: uppercase;
  text-align: center;
}

.follow-ig .container .image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow-ig .container .image-row a {
  width: 225px;
  height: 225px;
  position: relative;
}

.follow-ig .container .image-row a:hover i {
  visibility: visible;
  opacity: 1;
}

.follow-ig .container .image-row a img {
  width: 225px;
}

.follow-ig .container .image-row a i {
  font-size: 16px;
  color: white;
  width: 225px;
  height: 225px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}

.follow-ig .container .image-row a i::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  margin: 30px 0;
  width: 100%;
  height: 300px;
  background: rgba(255, 255, 254, 0.986);
  position: relative;
}

footer .container {
  margin: 0 auto;
}

footer .container .footer-top {
  text-align: center;
  position: relative;
}

footer .container .footer-top .footer-top-description {
  width: 700px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 25%;
}

footer .container .footer-top .footer-top-description h4 {
  text-transform: uppercase;
  font-size: 16x;
  font-weight: 500;
  margin-bottom: 20px;
}

footer .container .footer-top .footer-top-description p {
  color: #777777;
  font-size: 14px;
}

footer .container .footer-top .footer-top-input-mail {
  margin: 100px 20px;
  position: absolute;
  top: 50%;
  left: 25%;
}

footer .container .footer-top .footer-top-input-mail input {
  width: 650px;
  height: 40px;
  border-radius: 8px;
  text-align: start;
}

footer .container .footer-top .footer-top-input-mail input:hover {
  border: 1px solid #2879fe;
  border-right: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

footer .container .footer-top .footer-top-input-mail input::-webkit-input-placeholder {
  padding: 0 10px;
}

footer .container .footer-top .footer-top-input-mail input:-ms-input-placeholder {
  padding: 0 10px;
}

footer .container .footer-top .footer-top-input-mail input::-ms-input-placeholder {
  padding: 0 10px;
}

footer .container .footer-top .footer-top-input-mail input::placeholder {
  padding: 0 10px;
}

footer .container .footer-top .footer-top-input-mail button {
  width: 80px;
  height: 40px;
  color: white;
  text-transform: uppercase;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background: #2879fe;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  cursor: pointer;
}

footer .container .footer-top .footer-top-input-mail button:hover {
  background: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container .footer-top .footer-top-contact {
  position: absolute;
  top: 150px;
  left: 45%;
}

footer .container .footer-top .footer-top-contact a {
  padding: 8px;
}

footer .container .footer-top .footer-top-contact a i {
  color: #777777;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container .footer-top .footer-top-contact a i:hover {
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .container .footer-bottom {
  margin: 20px 70px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .container .footer-bottom .logo {
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .footer-bottom .logo a img {
  margin-right: 10px;
}

footer .container .footer-bottom .logo p {
  color: #777777;
  font-size: 14px;
  text-transform: capitalize;
}

footer .container .footer-bottom ul.payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
}

footer .container .footer-bottom ul.payments li {
  width: 60px;
  height: 25px;
}

footer .container .footer-bottom ul.payments li a img {
  width: 100%;
  height: 100%;
  padding: 3px;
}

.back-to-top {
  position: relative;
}

.back-to-top a {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: rgba(34, 105, 219, 0.849);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: fixed;
  bottom: 80px;
  right: 2px;
}

.back-to-top a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.back-to-top a:hover {
  background: #2879fe;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.back-to-top a:hover::before {
  -webkit-transform: translate(-50%, -100%) rotate(45deg);
          transform: translate(-50%, -100%) rotate(45deg);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/*# sourceMappingURL=home.css.map */