.message1 {
  margin: 50px;
  width: 200px;
  height: 100px;
  background: black;
  border-radius: 8px;
  padding: 15px;
}

.message1 p {
  color: yellow;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.message2 {
  margin: 50px;
  width: 200px;
  height: 100px;
  background: black;
  border-radius: 8px;
  padding: 15px;
}

.message2 p {
  color: yellow;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.loader1 {
  margin: 50px;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: rgba(0, 60, 255, 0.829);
  border-bottom-color: rgba(0, 60, 255, 0.829);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader2 {
  margin: 50px;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  border-left-color: rgba(0, 60, 255, 0.829);
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.products .container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .container .item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  height: 400px;
  margin-right: 16px;
}

.products .container .item:nth-child(4n) {
  margin-right: 0;
}

.products .container .item .content img {
  width: 100%;
  height: 300px;
}

.products .container .item .content p {
  text-align: center;
  margin-top: 15px;
}

.products .container .item .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .container .item .content ul li {
  margin-right: 5px;
}

.products .container .item .content ul li:last-child {
  margin-right: 0;
}

.products .container .item .content ul li i {
  color: yellow;
  font-size: 14px;
}

.products .container button {
  background: violet;
  width: 70px;
  height: 30px;
  padding: 8px 14px;
  color: white;
  border-radius: 8px;
}

.mess {
  margin: 50px;
  width: 250px;
  height: 100px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px 4px rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 4px 4px rgba(204, 204, 204, 0.4);
  position: relative;
  background: white;
}

.mess::before, .mess::after {
  content: '';
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0 0 4px 4px rgba(204, 204, 204, 0.4);
          box-shadow: 0 0 4px 4px rgba(204, 204, 204, 0.4);
  position: absolute;
  left: 50%;
  top: -7.5px;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.mess::after {
  top: -6.5px;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 1;
}

* {
  font-family: "Hind", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.product- .product-title {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product- .product-title h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.product- .product-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product- .product-title ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #777777;
  padding: 10px;
}

.product- .product-title ul li a.active {
  color: black;
}

.product- .product-title ul li a:hover {
  color: black;
}

.product- .product-title .button-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product- .product-title .button-sale .button-left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.product- .product-title .button-sale .button-left::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.product- .product-title .button-sale .button-left:hover {
  background: #2879fe;
}

.product- .product-title .button-sale .button-left:hover::before {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.product- .product-title .button-sale .button-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.product- .product-title .button-sale .button-right::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.product- .product-title .button-sale .button-right:hover {
  background: #2879fe;
}

.product- .product-title .button-sale .button-right:hover::after {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.product- .list-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product- .list-product :hover .description {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product- .list-product :hover .description form {
  visibility: visible;
  opacity: 1;
}

.product- .list-product .product {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  white-space: nowrap;
  overflow: hidden;
}

.product- .list-product .product .image-box {
  position: relative;
}

.product- .list-product .product .image-box a .img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product- .list-product .product .image-box .list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.product- .list-product .product .image-box .list-button a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.623);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
  position: relative;
}

.product- .list-product .product .image-box .list-button a:hover {
  background: #2879fe;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product- .list-product .product .image-box .list-button a:hover i {
  color: white;
}

.product- .list-product .product .image-box .list-button a i {
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product- .list-product .product .description {
  text-align: center;
  background: white;
}

.product- .list-product .product .description .brand a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product- .list-product .product .description .brand a:hover {
  color: #2879fe;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product- .list-product .product .description .rating-star i {
  padding-bottom: 5px;
  font-size: 10px;
  color: #777777;
}

.product- .list-product .product .description .rating-star i.active {
  color: #ffb503;
  font-weight: 600;
}

.product- .list-product .product .product-name a {
  padding-bottom: 5px;
  font-size: 14px;
  color: #292727;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.product- .list-product .product .product-name a:hover {
  color: #2879fe;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.product- .list-product .product .price p {
  padding-bottom: 5px;
  color: #292727;
  font-size: 16px;
  font-weight: 500;
}

.product- .list-product .product .price .sale {
  color: rgba(255, 0, 0, 0.87);
}

.product- .list-product .product .price .sale span {
  color: #292727;
  text-decoration: line-through;
}

.product- .list-product .product form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.product- .list-product .product form .add-to-cart {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #2879fe;
}

.product- .list-product .product form .add-to-cart:hover {
  background: rgba(34, 105, 219, 0.904);
}

.product- .list-product .product form .add-to-cart i {
  color: white;
  font-size: 15px;
}

.product- .list-product .product form .add-to-cart p {
  padding-left: 10px;
  text-transform: uppercase;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  color: white;
}

.product- .list-product .product:hover .image-box .list-button a {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */