* {
  font-family: "Hind", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
}

header .container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

header .container .top {
  padding: 10px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .top .logo a {
  position: absolute;
  left: 45%;
}

header .container .top .right-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .container .top .right-header ul li:hover {
  color: #2879fe;
}

header .container .top .right-header ul li:hover .ribbon {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

header .container .top .right-header ul li button {
  padding: 0 30px;
  background: white;
}

header .container .top .right-header ul li button i {
  color: #777777;
  font-weight: 300;
  font-size: 16px;
}

header .container .top .right-header ul li .ribbon {
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .container .top .right-header ul li .ribbon .wrapper-ribbon {
  position: relative;
  display: inline;
  padding: 0 10px;
  background: white;
  -webkit-box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.8);
          box-shadow: 0 0 2px 1px rgba(204, 204, 204, 0.8);
  border-radius: 8px;
}

header .container .top .right-header ul li .ribbon .wrapper-ribbon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -1px;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  width: 5px;
  height: 5px;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

header .container .top .right-header ul li .ribbon .wrapper-ribbon span {
  font-size: 12px;
  color: black;
  text-transform: capitalize;
}

header .container .bottom > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .container .bottom > ul > li a {
  padding: 15px 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: #777777;
}

header .container .bottom > ul > li a.active {
  color: #2879fe;
}

header .container .bottom > ul > li a:hover {
  color: #2879fe;
}

header .container .bottom > ul > li:hover .dropdown-home, header .container .bottom > ul > li:hover .dropdown-shop,
header .container .bottom > ul > li:hover .dropdown-page, header .container .bottom > ul > li:hover .dropdown-blog {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

header .container .bottom > ul > li .dropdown-home, header .container .bottom > ul > li .dropdown-shop,
header .container .bottom > ul > li .dropdown-page, header .container .bottom > ul > li .dropdown-blog {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 8px 2px rgba(204, 204, 204, 0.2);
          box-shadow: 0 0 8px 2px rgba(204, 204, 204, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

header .container .bottom > ul > li .dropdown-home .row-top, header .container .bottom > ul > li .dropdown-shop .row-top,
header .container .bottom > ul > li .dropdown-page .row-top, header .container .bottom > ul > li .dropdown-blog .row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .bottom > ul > li .dropdown-home .row-top .column, header .container .bottom > ul > li .dropdown-shop .row-top .column,
header .container .bottom > ul > li .dropdown-page .row-top .column, header .container .bottom > ul > li .dropdown-blog .row-top .column {
  padding-left: 10px;
  padding-right: 10px;
}

header .container .bottom > ul > li .dropdown-home .row-top .column a, header .container .bottom > ul > li .dropdown-shop .row-top .column a,
header .container .bottom > ul > li .dropdown-page .row-top .column a, header .container .bottom > ul > li .dropdown-blog .row-top .column a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li {
  position: relative;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li a, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li a,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li a, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: #777777;
  padding: 6px 14px 6px;
  position: relative;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li a:hover, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li a:hover,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li a:hover, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li a:hover {
  color: #2879fe;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li a span, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li a span,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li a span, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li a span {
  background: #2879fe;
  color: white;
  font-size: 10px;
  padding: 2px;
  text-transform: capitalize;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li a .popular, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li a .popular,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li a .popular, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li a .popular {
  background: rgba(255, 166, 0, 0.904);
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li .image-hover, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li .image-hover,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li .image-hover, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li .image-hover {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li .image-hover img, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li .image-hover img,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li .image-hover img, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li .image-hover img {
  max-width: 150px;
  height: auto;
}

header .container .bottom > ul > li .dropdown-home .row-top .column ul li:hover .image-hover, header .container .bottom > ul > li .dropdown-shop .row-top .column ul li:hover .image-hover,
header .container .bottom > ul > li .dropdown-page .row-top .column ul li:hover .image-hover, header .container .bottom > ul > li .dropdown-blog .row-top .column ul li:hover .image-hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

header .container .bottom > ul > li .dropdown-home .row-bottom, header .container .bottom > ul > li .dropdown-shop .row-bottom,
header .container .bottom > ul > li .dropdown-page .row-bottom, header .container .bottom > ul > li .dropdown-blog .row-bottom {
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-left, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-left,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-left, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-left {
  position: relative;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-left a img, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-left a img,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-left a img, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-left a img {
  width: 100%;
  height: 100%;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-left .small-description, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-left .small-description,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-left .small-description, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-left .small-description {
  position: absolute;
  top: 20%;
  left: 5%;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-left .small-description a, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-left .small-description a,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-left .small-description a, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-left .small-description a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: black;
  line-height: 1.5;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-left .small-description a span, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-left .small-description a span,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-left .small-description a span, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-left .small-description a span {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-right, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-right,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-right, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-right {
  position: relative;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-right a img, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-right a img,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-right a img, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-right a img {
  width: 100%;
  height: 100%;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-right .small-description, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-right .small-description,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-right .small-description, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-right .small-description {
  position: absolute;
  top: 20%;
  left: 5%;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-right .small-description a, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-right .small-description a,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-right .small-description a, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-right .small-description a {
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

header .container .bottom > ul > li .dropdown-home .row-bottom .column-right .small-description a span, header .container .bottom > ul > li .dropdown-shop .row-bottom .column-right .small-description a span,
header .container .bottom > ul > li .dropdown-page .row-bottom .column-right .small-description a span, header .container .bottom > ul > li .dropdown-blog .row-bottom .column-right .small-description a span {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

header .container .bottom > ul > li .dropdown-page {
  width: 270px;
  height: auto;
  text-transform: capitalize;
  position: absolute;
  top: 0%;
  left: 30%;
}

header .container .bottom > ul > li .dropdown-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  width: 270px;
  height: auto;
  text-transform: capitalize;
  position: absolute;
  top: 0%;
  left: 37%;
}
/*# sourceMappingURL=header.css.map */