* {
  font-family: "Hind", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header .top {
  padding-top: 25px;
}

header .top .container {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .top .container .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .top .container .logo a img {
  width: 100%;
  height: 100%;
}

header .top .container .right-header {
  position: absolute;
  right: 0;
}

header .top .container .right-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .container .right-header nav ul li {
  position: relative;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
}

header .top .container .right-header nav ul li:last-child {
  margin-right: 0;
}

header .top .container .right-header nav ul li:hover {
  color: #2879fe;
}

header .top .container .right-header nav ul li:hover .ribbon {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-10px);
          transform: translateX(-50%) translateY(-10px);
}

header .top .container .right-header nav ul li i {
  color: #777777;
  font-weight: 300;
  font-size: 16px;
}

header .top .container .right-header nav ul li .ribbon {
  padding-top: 45px;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .top .container .right-header nav ul li .ribbon .wrapper-ribbon {
  position: relative;
  display: inline;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px 1px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 8px 1px rgba(204, 204, 204, 0.5);
  background: white;
}

header .top .container .right-header nav ul li .ribbon .wrapper-ribbon::before, header .top .container .right-header nav ul li .ribbon .wrapper-ribbon::after {
  content: "";
  width: 6px;
  height: 6px;
  -webkit-box-shadow: 0 0 8px 1px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 8px 1px rgba(204, 204, 204, 0.5);
  position: absolute;
  left: 50%;
  top: -3px;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  z-index: -1;
}

header .top .container .right-header nav ul li .ribbon .wrapper-ribbon::after {
  top: -2.5px;
  background: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 1;
}

header .top .container .right-header nav ul li .ribbon .wrapper-ribbon span {
  padding: 0 5px;
  font-size: 13px;
  color: black;
  text-transform: capitalize;
}

header .bottom {
  margin-top: 20px;
}

header .bottom .container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

header .bottom .container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bottom .container > ul > li {
  margin-right: 10px;
}

header .bottom .container > ul > li:last-child {
  margin-right: 0;
}

header .bottom .container > ul > li a {
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}

header .bottom .container > ul > li a:last-child {
  padding-right: 0;
}

header .bottom .container > ul > li a.active {
  color: #2879fe;
}

header .bottom .container > ul > li a:hover {
  color: #2879fe;
}

header .bottom .container > ul > li:hover .dropdown-home,
header .bottom .container > ul > li:hover .dropdown-shop,
header .bottom .container > ul > li:hover .dropdown-page,
header .bottom .container > ul > li:hover .dropdown-blog,
header .bottom .container > ul > li:hover .dropdown-women,
header .bottom .container > ul > li:hover .dropdown-men,
header .bottom .container > ul > li:hover .dropdown-portfolio,
header .bottom .container > ul > li:hover .dropdown-buy-theme {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header .bottom .container > ul > li .dropdown-home,
header .bottom .container > ul > li .dropdown-shop,
header .bottom .container > ul > li .dropdown-page,
header .bottom .container > ul > li .dropdown-blog,
header .bottom .container > ul > li .dropdown-women,
header .bottom .container > ul > li .dropdown-men,
header .bottom .container > ul > li .dropdown-portfolio,
header .bottom .container > ul > li .dropdown-buy-theme {
  width: 100%;
  position: absolute;
  left: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 8px 2px rgba(204, 204, 204, 0.2);
          box-shadow: 0 0 8px 2px rgba(204, 204, 204, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

header .bottom .container > ul > li .dropdown-home .row-top,
header .bottom .container > ul > li .dropdown-shop .row-top,
header .bottom .container > ul > li .dropdown-page .row-top,
header .bottom .container > ul > li .dropdown-blog .row-top,
header .bottom .container > ul > li .dropdown-women .row-top,
header .bottom .container > ul > li .dropdown-men .row-top,
header .bottom .container > ul > li .dropdown-portfolio .row-top,
header .bottom .container > ul > li .dropdown-buy-theme .row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .bottom .container > ul > li .dropdown-home .row-top .column,
header .bottom .container > ul > li .dropdown-shop .row-top .column,
header .bottom .container > ul > li .dropdown-page .row-top .column,
header .bottom .container > ul > li .dropdown-blog .row-top .column,
header .bottom .container > ul > li .dropdown-women .row-top .column,
header .bottom .container > ul > li .dropdown-men .row-top .column,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column {
  width: 285px;
}

header .bottom .container > ul > li .dropdown-home .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-shop .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-page .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-blog .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-women .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-men .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column:first-child,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column:first-child {
  padding-left: 30px;
}

header .bottom .container > ul > li .dropdown-home .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-shop .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-page .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-blog .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-women .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-men .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column .categori a,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column .categori a {
  padding-left: 13px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

header .bottom .container > ul > li .dropdown-home .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-shop .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-page .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-blog .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-women .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-men .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column .categori a:hover,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column .categori a:hover {
  color: #2879fe;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li {
  position: relative;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: #777777;
  padding: 6px 14px 6px;
  position: relative;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a:hover,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a:hover {
  color: #2879fe;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a span,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a span {
  color: white;
  font-size: 12px;
  padding: 0 3px;
  border-radius: 2px;
  text-transform: capitalize;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a .new,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a .new {
  background: #2879fe;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a .popular,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a .popular {
  background: rgba(255, 166, 0, 0.904);
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li a .sale,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li a .sale {
  background: red;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li .image-hover,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li .image-hover {
  position: absolute;
  top: 0;
  left: 70%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li .image-hover a img,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li .image-hover a img {
  max-width: 150px;
  height: auto;
}

header .bottom .container > ul > li .dropdown-home .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-shop .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-page .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-blog .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-women .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-men .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-portfolio .row-top .column ul li:hover .image-hover,
header .bottom .container > ul > li .dropdown-buy-theme .row-top .column ul li:hover .image-hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .bottom .container > ul > li .dropdown-home .row-bottom,
header .bottom .container > ul > li .dropdown-shop .row-bottom,
header .bottom .container > ul > li .dropdown-page .row-bottom,
header .bottom .container > ul > li .dropdown-blog .row-bottom,
header .bottom .container > ul > li .dropdown-women .row-bottom,
header .bottom .container > ul > li .dropdown-men .row-bottom,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom {
  margin-bottom: 100px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-left,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-left {
  position: relative;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-left a img,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-left a img {
  width: 100%;
  height: 100%;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-left .small-description,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-left .small-description {
  position: absolute;
  top: 20%;
  left: 5%;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-left .small-description a,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-left .small-description a {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: black;
  line-height: 1.5;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-left .small-description a span,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-left .small-description a span {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-right,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-right {
  position: relative;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-right a img,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-right a img {
  width: 100%;
  height: 100%;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-right .small-description,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-right .small-description {
  position: absolute;
  top: 20%;
  left: 5%;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-right .small-description a,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-right .small-description a {
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

header .bottom .container > ul > li .dropdown-home .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-shop .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-page .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-blog .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-men .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-portfolio .row-bottom .column-right .small-description a span,
header .bottom .container > ul > li .dropdown-buy-theme .row-bottom .column-right .small-description a span {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}

header .bottom .container > ul > li .dropdown-page {
  width: 270px;
  text-transform: capitalize;
  position: absolute;
  left: 30%;
}

header .bottom .container > ul > li .dropdown-blog {
  width: 270px;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
}

header .bottom .container > ul > li .dropdown-blog .row-top {
  display: block;
}

header .bottom .container > ul > li .dropdown-blog .row-top .column {
  padding-bottom: 0;
}

header .bottom .container > ul > li .dropdown-portfolio {
  width: 270px;
  text-transform: capitalize;
  position: absolute;
  left: 40%;
}

header .bottom .container > ul > li .dropdown-portfolio .row-top {
  display: block;
}

header .bottom .container > ul > li .dropdown-portfolio .row-top .column {
  padding-bottom: 0;
}

header .bottom .container > ul > li .dropdown-women .row-top .column {
  width: 200px;
}

header .bottom .container > ul > li .dropdown-women .row-top .column:last-child {
  width: 50%;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-left {
  margin-right: 10px;
  background: white;
  position: relative;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-left::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-left:hover::before {
  border-top: 1px solid #2879fe;
  border-left: 1px solid #2879fe;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-right {
  padding-right: 20px;
  background: white;
  position: relative;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-right::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header .bottom .container > ul > li .dropdown-women .row-top .column .categori .button-sale .button-right:hover::after {
  border-bottom: 1px solid #2879fe;
  border-right: 1px solid #2879fe;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product .image-box {
  margin-bottom: 0;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product .image-box a img {
  width: 100%;
  height: 100%;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product .description {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product .description .product-name a {
  text-transform: capitalize;
  font-weight: 400;
  padding-bottom: 0;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product .description .price p {
  padding-left: 13px;
  font-weight: 500;
}

header .bottom .container > ul > li .dropdown-women .row-top .column .list-product .product:hover .description .product-name a {
  color: #2879fe;
}

header .bottom .container > ul > li .dropdown-women .row-bottom {
  margin-bottom: 0;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description a {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description a span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-left .small-description a span strong {
  color: #2879fe;
  font-weight: 400;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description a {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description a span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

header .bottom .container > ul > li .dropdown-women .row-bottom .column-right .small-description a span strong {
  color: #2879fe;
  font-weight: 400;
}

header .bottom .container > ul > li .dropdown-men .row-top .column {
  position: relative;
}

header .bottom .container > ul > li .dropdown-men .row-top .column ul li a img {
  width: 100%;
  height: 100%;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .image a img {
  width: 100%;
  height: 100%;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .small-description {
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .bottom .container > ul > li .dropdown-men .row-top .column .small-description a {
  color: white;
  word-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .small-description a:first-child {
  text-transform: capitalize;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .small-description a span {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .small-description a strong {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .shop-now a {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(50px, -50px);
          transform: translate(50px, -50px);
  color: white;
  text-decoration: underline;
}

header .bottom .container > ul > li .dropdown-men .row-top .column .shop-now a:hover {
  text-decoration: none;
}

header .bottom .container > ul > li .dropdown-buy-theme {
  width: 280px;
  text-transform: capitalize;
  position: absolute;
  left: 65%;
}
/*# sourceMappingURL=header.css.map */