@import "home.scss";

header {
  .top {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
      position: relative;

      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        a {
          img {
            object-fit: cover;
          }
        }
      }

      .right-header {
        position: absolute;
        right: 0;

        nav {
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
              position: relative;
              text-align: center;
              margin-right: 30px;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                color: $primaryColor;

                .ribbon {
                  visibility: visible;
                  opacity: 1;
                  z-index: 1;

                  transform: translateX(-50%) translateY(-10px);
                }
              }

              i {
                color: $secondaryColor;
                font-weight: 300;
                font-size: 16px;
              }

              .ribbon {
                padding-top: 29px;
                text-align: center;
                white-space: nowrap;

                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease;

                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                .wrapper-ribbon {
                  position: relative;
                  display: inline;

                  border-radius: 4px;
                  box-shadow: 0 0 8px 1px rgba($color: #ccc, $alpha: 0.4);

                  background: white;

                  &::before,
                  &::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    box-shadow: 0 0 8px 1px rgba($color: #ccc, $alpha: 0.2);

                    position: absolute;
                    left: 50%;
                    top: -4px;

                    transform: translate(-50%) rotate(45deg);
                    z-index: -1;
                  }

                  &::after {
                    top: -3.5px;
                    background: white;
                    border: none;

                    box-shadow: none;
                    z-index: 1;
                  }

                  span {
                    padding: 0 5px;
                    font-size: 12px;
                    color: black;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    margin-top: 20px;

    .container {
      position: relative;

      > ul {
        display: flex;
        justify-content: center;
        align-items: center;

        > li {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          a {
            padding: 20px 10px;
            text-transform: uppercase;
            font-size: 14px;
            color: black;

            &:last-child {
              padding-right: 0;
            }

            &.active {
              color: $primaryColor;
            }

            &:hover {
              color: $primaryColor;
            }
          }

          &:hover {
            .dropdown-home,
            .dropdown-shop,
            .dropdown-page,
            .dropdown-blog,
            .dropdown-women,
            .dropdown-men,
            .dropdown-portfolio,
            .dropdown-buy-theme {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
              transition: all 0.2s linear;
            }
          }

          .dropdown-home,
          .dropdown-shop,
          .dropdown-page,
          .dropdown-blog,
          .dropdown-women,
          .dropdown-men,
          .dropdown-portfolio,
          .dropdown-buy-theme {
            position: absolute;
            left: 0;
            background: white;
            display: flex;
            flex-direction: column;

            box-shadow: 0 0 8px 2px rgba($color: #ccc, $alpha: 0.2);

            visibility: hidden;
            opacity: 0;
            z-index: 2;
            transition: all 0.4s linear;

            .row-top {
              display: flex;
              flex-basis: 25%;

              .column {
                padding: 25px;

                a {
                  padding-left: 13px;
                  font-size: 14px;
                  font-weight: 500;
                  text-transform: uppercase;
                  color: black;
                }

                ul {
                  li {
                    position: relative;

                    a {
                      text-transform: capitalize;
                      font-size: 14px;
                      font-weight: 300;
                      color: $secondaryColor;

                      padding: 6px 14px 6px;
                      position: relative;

                      &:hover {
                        color: $primaryColor;
                      }

                      span {
                        color: white;
                        font-size: 12px;
                        padding: 0 3px;
                        border-radius: 2px;
                        text-transform: capitalize;
                      }

                      .new {
                        background: $primaryColor;
                      }

                      .popular {
                        background: rgba(255, 166, 0, 0.904);
                      }

                      .sale {
                        background: red;
                      }
                    }

                    .image-hover {
                      position: absolute;
                      top: 0;
                      left: 70%;

                      transform: translateY(-5px);
                      z-index: 2;

                      visibility: hidden;
                      opacity: 0;

                      a {
                        img {
                          max-width: 150px;
                          height: auto;
                        }
                      }
                    }

                    &:hover {
                      .image-hover {
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0);
                        transition: all 0.3s ease-in;
                      }
                    }
                  }
                }
              }
            }

            .row-bottom {
              margin-bottom: 200px;
              padding: 30px;
              display: flex;
              flex-basis: 50%;

              .column-left {
                position: relative;

                a {
                  img {
                    width: 90%;
                    height: 90%;
                  }
                }

                .small-description {
                  position: absolute;
                  top: 20%;
                  left: 5%;

                  a {
                    span {
                      font-size: 25px;
                      font-weight: 600;
                      text-transform: capitalize;
                      color: black;
                    }

                    text-transform: capitalize;

                    font-size: 14px;
                    font-weight: 400;
                    color: black;
                    line-height: 1.5;
                  }
                }
              }

              .column-right {
                position: relative;

                a {
                  img {
                    width: 90%;
                    height: 90%;
                  }
                }

                .small-description {
                  position: absolute;
                  top: 20%;
                  left: 5%;

                  a {
                    span {
                      font-size: 30px;
                      font-weight: 600;
                      text-transform: capitalize;
                      color: white;
                    }

                    text-transform: lowercase;
                    line-height: 1.5;
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                  }
                }
              }
            }
          }

          .dropdown-page {
            width: 280px;
            text-transform: capitalize;

            position: absolute;
            left: 30%;
          }

          .dropdown-blog {
            width: 280px;
            text-transform: capitalize;

            position: absolute;
            left: 35%;

            .row-top {
              display: block;

              .column {
                padding-bottom: 0;
              }
            }
          }

          .dropdown-portfolio {
            width: 280px;
            text-transform: capitalize;

            position: absolute;
            left: 40%;

            .row-top {
              display: block;

              .column {
                padding-bottom: 0;
              }
            }
          }

          .dropdown-women {
            width: 100%;

            .row-top {
              margin-bottom: 0;

              .column {
                &:last-child {
                  padding-left: 50px;
                  padding-right: 0;
                }

                .button-sale {
                  display: flex;

                  .button-left {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;

                    margin-right: 10px;
                    position: relative;

                    &::before {
                      content: "";
                      width: 7px;
                      height: 7px;

                      position: absolute;
                      top: 50%;
                      left: 50%;

                      border-top: 1px solid $secondaryColor;
                      border-left: 1px solid $secondaryColor;

                      transform: translate(-50%, -50%) rotate(-45deg);
                    }

                    &:hover {
                      background: $primaryColor;

                      &::before {
                        border-top: 1px solid white;
                        border-left: 1px solid white;
                      }
                    }
                  }

                  .button-right {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;

                    position: relative;

                    &::after {
                      content: "";

                      width: 7px;
                      height: 7px;

                      position: absolute;
                      top: 50%;
                      left: 50%;

                      border-bottom: 1px solid $secondaryColor;
                      border-right: 1px solid $secondaryColor;

                      transform: translate(-50%, -50%) rotate(-45deg);
                    }

                    &:hover {
                      background: $primaryColor;

                      &::after {
                        border-bottom: 1px solid white;
                        border-right: 1px solid white;
                      }
                    }
                  }
                }

                .list-product {
                  .product {
                    .image-box {
                      a {
                        img {
                          // width: 60%;
                          // height: 60%;
                          object-fit: cover;
                        }
                      }
                    }

                    .description {
                      .product-name {
                        a {
                          text-transform: capitalize;
                          font-weight: 400;
                        }
                      }

                      .price {
                        p {
                          font-weight: 500;
                        }
                      }
                    }
                  }
                }
              }
            }

            .row-bottom {
              .column-left {
                a {
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .small-description {
                  a {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    span {
                      text-transform: uppercase;
                      font-size: 16px;
                      font-weight: 400;

                      strong {
                        color: $primaryColor;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }

              .column-right {
                a {
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .small-description {
                  a {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    span {
                      text-transform: uppercase;
                      font-size: 16px;
                      font-weight: 400;

                      strong {
                        color: $primaryColor;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
            }
          }

          .dropdown-men {
            .row-top {
              .column {
                ul {
                  li {
                    a {
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }

                position: relative;
                .image {
                  a {
                    img {
                      width: 100%;
                      height: 100%;
                      //object-fit: cover;
                    }
                  }
                }

                .small-description {
                  position: absolute;
                  top: 30%;
                  left: 45%;

                  transform: translate(-50%, -50%);

                  a {
                    color: white;
                    word-spacing: 2px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1;

                    &:first-child {
                      text-transform: capitalize;
                    }
                    span {
                      font-size: 18px;
                      font-weight: 400;
                      text-transform: uppercase;
                      line-height: 1.5;
                    }

                    strong {
                      font-size: 30px;
                      font-weight: 600;
                      text-transform: uppercase;
                      line-height: 1.5;
                    }
                  }
                }

                .shop-now {
                  a {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    transform: translate(50px, -50px);
                    color: white;
                    text-decoration: underline;

                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }

          .dropdown-buy-theme {
            width: 280px;
            text-transform: capitalize;

            position: absolute;
            left: 65%;
          }
        }
      }
    }
  }
}
