* {
  font-family: "Hind", sans-serif;
}

$primaryColor: rgb(40, 121, 254);
$secondaryColor: rgb(119, 119, 119);

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container{
  width: 1300px;
  margin: 0 auto;
}
