@import "home.scss";

.page-content {
  .women {
    .sale {
      .background {
        width: 100%;
        height: 650px;
        display: flex;

        background-image: url("https://cdn.shopify.com/s/files/1/0031/6604/4224/files/demo18_01_2048x.png?v=1542736595");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        position: relative;

        .sale-description {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, 25%);
          text-align: center;

          h3 {
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 300;

            margin-bottom: 40px;
          }

          p {
            color: white;
            font-size: 70px;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 70px;
            margin-bottom: 20px;
          }

          .button {
            a {
              padding: 17px;
              width: 170px;
              background: $primaryColor;
              border-radius: 8px;
              color: white;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 14px;

              &:hover {
                background: rgba(34, 105, 219, 0.904);
              }
            }
          }
        }
      }
    }
  }

  .men {
    .sale {
      .background {
        width: 100%;
        height: 650px;
        display: flex;

        background-image: url("https://cdn.shopify.com/s/files/1/0031/6604/4224/files/demo18_02_2048x.png?v=1542736613");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;

        position: relative;

        .sale-description{
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, 25%);
          text-align: center;

          h3 {
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 300;

            margin-bottom: 40px;
          }

          p {
            color: black;
            font-size: 70px;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 70px;
            margin-bottom: 20px;
          }

          .button {
            a {
              padding: 17px;
              width: 170px;
              background: $primaryColor;
              border-radius: 8px;
              color: white;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 14px;

              &:hover {
                background: rgba(34, 105, 219, 0.904);
              }
            }
          }
        }
      }
    }
  }
}

.product-description {
  .product-title {
    margin: 50px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 500;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        a {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          color: $secondaryColor;
          padding: 10px;

          &.active {
            color: black;
          }

          &:hover {
            color: black;
          }
        }
      }
    }

    .button-sale {
      display: flex;

      .button-left {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        margin-right: 10px;
        position: relative;

        &::before {
          content: "";
          width: 7px;
          height: 7px;

          position: absolute;
          top: 50%;
          left: 50%;

          border-top: 1px solid $secondaryColor;
          border-left: 1px solid $secondaryColor;

          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
          background: $primaryColor;

          &::before {
            border-top: 1px solid white;
            border-left: 1px solid white;
          }
        }
      }

      .button-right {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        position: relative;

        &::after {
          content: "";

          width: 7px;
          height: 7px;

          position: absolute;
          top: 50%;
          left: 50%;

          border-bottom: 1px solid $secondaryColor;
          border-right: 1px solid $secondaryColor;

          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
          background: $primaryColor;

          &::after {
            border-bottom: 1px solid white;
            border-right: 1px solid white;
          }
        }
      }
    }
  }

  .list-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in;

    .product {
      flex-basis: 16%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        .description {
          transform: translateY(-40px);

          form {
            visibility: visible;
            opacity: 1;

            transform: translateY(0);
          }
        }
      }

      .image-box {
        position: relative;

        &:hover {
          .list-button {
            a {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        a {
          .img {
            object-fit: cover;
          }
        }

        .list-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;

          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(-50%);

          margin: 10px;

          ul {
            text-align: center;

            li {
              position: relative;
              transition: all .2s ease-in;

              &:hover {
                .ribbon-list-button {
                  visibility: visible;
                  opacity: 1;
                  z-index: 1;

                  transform: translateX(-60px);
                  transition: all .2s ease-in;
                }
              }

              a {
                padding: 22.5px;
                border-radius: 50%;

                background: rgba(255, 255, 255, 0.623);
                transition: all 0.2s ease-in;

                visibility: hidden;
                opacity: 0;
                position: relative;

                &:hover {
                  background: $primaryColor;
                  transition: all 0.2s ease-in;

                  i {
                    color: white;
                  }
                }

                i {
                  color: black;
                  font-size: 14px;
                  font-weight: 300;

                  position: absolute;
                  top: 50%;
                  left: 50%;

                  transform: translate(-50%, -50%);
                }
              }

              .ribbon-list-button {
                visibility: hidden;
                opacity: 0;
                transition: all 0.2s ease;

                position: absolute;
                top: 30%;
                right: 0;
                transform: translateX(-100px);

                .wrapper-ribbon-list-button {
                  position: relative;
                  display: inline;

                  border-radius: 4px;
                  background: white;
                  box-shadow: 0 0 8px 2px rgba($color: #ccc, $alpha: 0.4);

                  &::before,
                  &::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    box-shadow: 0 0 8px 2px rgba($color: #ccc, $alpha: 0.4);

                    position: absolute;
                    right: 0;
                    bottom: 50%;

                    transform: translate(50%, 50%) rotate(-135deg);
                    z-index: -1;
                  }

                  &::after {
                    background: white;
                    border: none;
                    box-shadow: none;

                    z-index: 1;
                  }

                  span {
                    text-align: right;
                    padding: 0 5px;
                    font-size: 12px;
                    color: black;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }

        }
      }

      .description {
        text-align: center;
        background: white;
        transform: translateY(0);

        transition: all 0.2s linear;

        .brand {
          a {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
            transition: all 0.2s ease-in;

            &:hover {
              color: $primaryColor;
              transition: all 0.2s ease-in;
            }
          }
        }

        .rating-star {
          i {
            &.active {
              color: #ffb503;
              font-weight: 600;
            }

            padding-bottom: 5px;
            font-size: 10px;
            color: $secondaryColor;
          }
        }
      }

      .product-name {
        a {
          padding-bottom: 5px;
          font-size: 14px;
          color: rgb(41, 39, 39);
          text-transform: capitalize;
          transition: all 0.4s ease-in;

          &:hover {
            color: $primaryColor;
            transition: all 0.4s ease-in;
          }
        }
      }

      .price {
        p {
          padding-bottom: 5px;
          color: rgb(41, 39, 39);
          font-size: 16px;
          font-weight: 500;
        }

        .sale {
          color: rgba(255, 0, 0, 0.87);

          span {
            color: rgb(41, 39, 39);
            text-decoration: line-through;
          }
        }
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;

        visibility: hidden;
        opacity: 0;

        .add-to-cart {
          width: 130px;
          height: 40px;

          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background: $primaryColor;

          &:hover {
            background: rgba(34, 105, 219, 0.904);
          }

          i {
            color: white;
            font-size: 15px;
          }

          p {
            padding-left: 10px;
            text-transform: uppercase;
            transform: translateY(10%);
            color: white;
          }
        }
      }
    }
  }
}
