* {
  font-family: "Hind", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-content .women .sale .background {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://cdn.shopify.com/s/files/1/0031/6604/4224/files/demo18_01_2048x.png?v=1542736595");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 24px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.page-content .women .sale .background .sale-description {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  text-align: center;
}

.page-content .women .sale .background .sale-description h3 {
  color: #2879fe;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.page-content .women .sale .background .sale-description p {
  color: white;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 60px;
}

.page-content .women .sale .background .sale-description .button a {
  padding: 20px;
  width: 170px;
  background: #2879fe;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

.page-content .women .sale .background .sale-description .button a:hover {
  background: rgba(34, 105, 219, 0.904);
}

.page-content .men .sale .background {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://cdn.shopify.com/s/files/1/0031/6604/4224/files/demo18_02_2048x.png?v=1542736613");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 24px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.page-content .men .sale .background .sale-description {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  text-align: center;
}

.page-content .men .sale .background .sale-description h3 {
  color: #2879fe;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.page-content .men .sale .background .sale-description p {
  color: black;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 60px;
}

.page-content .men .sale .background .sale-description .button a {
  padding: 20px;
  width: 170px;
  background: #2879fe;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

.page-content .men .sale .background .sale-description .button a:hover {
  background: rgba(34, 105, 219, 0.904);
}

.product-description .product-title {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description .product-title h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.product-description .product-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description .product-title ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #777777;
  padding: 10px;
}

.product-description .product-title ul li a.active {
  color: black;
}

.product-description .product-title ul li a:hover {
  color: black;
}

.product-description .product-title .button-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-description .product-title .button-sale .button-left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}

.product-description .product-title .button-sale .button-left::before {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.product-description .product-title .button-sale .button-left:hover {
  background: #2879fe;
}

.product-description .product-title .button-sale .button-left:hover::before {
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.product-description .product-title .button-sale .button-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}

.product-description .product-title .button-sale .button-right::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 1px solid #777777;
  border-right: 1px solid #777777;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.product-description .product-title .button-sale .button-right:hover {
  background: #2879fe;
}

.product-description .product-title .button-sale .button-right:hover::after {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.product-description .list-product {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product-description .list-product :hover .discription {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product-description .list-product :hover .discription form {
  visibility: visible;
  opacity: 1;
}

.product-description .list-product .product .image-box {
  position: relative;
}

.product-description .list-product .product .image-box a .img {
  width: 100%;
}

.product-description .list-product .product .image-box .list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.product-description .list-product .product .image-box .list-button a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.623);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
  position: relative;
}

.product-description .list-product .product .image-box .list-button a:hover {
  background: #2879fe;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product-description .list-product .product .image-box .list-button a:hover i {
  color: white;
}

.product-description .list-product .product .image-box .list-button a i {
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-description .list-product .product .discription {
  text-align: center;
  background: white;
}

.product-description .list-product .product .discription .brand a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product-description .list-product .product .discription .brand a:hover {
  color: #2879fe;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.product-description .list-product .product .discription .rating-star i {
  padding-bottom: 5px;
  font-size: 10px;
  color: #777777;
}

.product-description .list-product .product .discription .rating-star i.active {
  color: #ffb503;
  font-weight: 600;
}

.product-description .list-product .product .product-name a {
  padding-bottom: 5px;
  font-size: 14px;
  color: #292727;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.product-description .list-product .product .product-name a:hover {
  color: #2879fe;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.product-description .list-product .product .price p {
  padding-bottom: 5px;
  color: #292727;
  font-size: 16px;
  font-weight: 500;
}

.product-description .list-product .product .price .sale {
  color: rgba(255, 0, 0, 0.87);
}

.product-description .list-product .product .price .sale span {
  color: #292727;
  text-decoration: line-through;
}

.product-description .list-product .product form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.product-description .list-product .product form .add-to-cart {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: #2879fe;
}

.product-description .list-product .product form .add-to-cart:hover {
  background: rgba(34, 105, 219, 0.904);
}

.product-description .list-product .product form .add-to-cart i {
  color: white;
  font-size: 15px;
}

.product-description .list-product .product form .add-to-cart p {
  padding-left: 10px;
  text-transform: uppercase;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  color: white;
}

.product-description .list-product .product:hover .image-box .list-button a {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=page-content.css.map */