.demo{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 150px;
    background: rgba(238, 130, 238, 0.644);

    span{
        cursor: pointer;
        color: white;
        position: absolute;

        &.add{
            top: 5%;
            right: 5%;
        }

        &.remove{
            bottom: 5%;
            right: 5%;
        }
    }
}

// .bg-red{
//     background: red;
// }

.bg-blue{
    background: blue;
}